FACEBOOK_ACCESS_TOKEN="your_facebook_access_token"
FACEBOOK_PAGE_ID="your_facebook_page_id"
DISCORD_WEBHOOK_URL="your_discord_webhook_url"
NVIDIA_API_KEY="your_nvidia_api_key"
BRANDING_TEXT="American Army News"
